body {
    font-family: Arial, sans-serif;
    background: url('../wallpaper2you_231925.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: rgba(255,255,255,0.9);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}

.login-container input {
    display: block;
    width: 250px;
    margin: 15px auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-container button {
    padding: 10px 20px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #1e40af;
}



.forgot-password {
    color: #007bff;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.forgot-password:hover {
    text-decoration: underline;
}

/* Popup background */
.forgot-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.forgot-popup.hidden {
    display: none;
}

/* Popup box */
.forgot-box {
    background: white;
    padding: 25px;
    width: 300px;
    border-radius: 10px;
    position: relative;
    text-align: center;
}

.forgot-box h2 {
    margin-bottom: 15px;
}

.forgot-box input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

.forgot-box button {
    width: 100%;
    padding: 8px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
}
